<% provide(:title, 'Menu') %>
<h1 id="title">Our Menu</h1>

<div id="menu-page">
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Mariscos</a></li>
		<li><a href="#tabs-2">Sopes o Gorditas</a></li>
		<li><a href="#tabs-3">Caldos/Soups</a></li>
		<li><a href="#tabs-4">Side Dishes</a></li>
		<li><a href="#tabs-5">Bebidas/Drinks</a></li>
		<li><a href="#tabs-6">Cerveza/Beer</a></li>
		<li><a href="#tabs-7">Desayunos/Breakfast</a></li>
		<li><a href="#tabs-8">Quesadillas</a></li>
		<li><a href="#tabs-9">Chips & Nachos</a></li>
		<li><a href="#tabs-10">Burritos</a></li>
		<li><a href="#tabs-11">Tortas/Mexican Sandwich</a></li>
		<li><a href="#tabs-12">Platillos/Dinners</a></li>
		<li><a href="#tabs-13">Tacos</a></li>
		<li><a href="#tabs-14">Sandwiches</a></li>
		<li><a href="#tabs-15">Tostadas</a></li>
	</ul>
	<div id="tabs-1">
		<%= render 'mariscos' %>
	</div>
	<div id="tabs-2">
		<%= render 'sopes' %>
	</div>
	<div id="tabs-3">
		<%= render 'caldos' %>
	</div>
	<div id="tabs-4">
		<%= render 'side-dishes' %>
	</div>
	<div id="tabs-5">
		<%= render 'bebidas' %>
	</div>
	<div id="tabs-6">
		<%= render 'cerveza' %>
	</div>
	<div id="tabs-7">
		<%= render 'desayunos' %>
	</div>
	<div id="tabs-8">
		<%= render 'quesadillas' %>
	</div>
	<div id="tabs-9">
		<%= render 'chips' %>
	</div>
	<div id="tabs-10">
		<%= render 'burritos' %>
	</div>
	<div id="tabs-11">
		<%= render 'tortas' %>
	</div>
	<div id="tabs-12">
		<%= render 'platillos' %>
	</div>
	<div id="tabs-13">
		<%= render 'tacos' %>
	</div>
	<div id="tabs-14">
		<%= render 'sandwiches' %>
	</div>
	<div id="tabs-15">
		<%= render 'tostadas' %>
	</div>
</div>

</div><!-- menu-page -->

